.App {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}

#root {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}

button {
  margin: 10px;
  min-width: 70px;
  padding: 5px 10px;
}

input {
  padding: 5px 10px;
}

.hw {
  background-color: aquamarine;
}

.styleMessages {
  font-size: 20px;
  color: black;
  border: 1px solid black;
  margin-top: 5px;
  width: auto;
  background-color: #9DB82E;
  padding: 5px;
  border-radius: 7px;
}

.styleMessages.me {
  text-align: right;
}

.styleMessages.bot {
  text-align: left;
}